/*login Form */
.login-form {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  scroll-behavior: unset;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
}
.closeIcon {
  height: 2rem;
  width: 2rem;
  color: grey;
}

.login-form .closeBtn {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: rgb(0, 8, 70);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.closeBtn:hover {
  background-color: rgb(17, 24, 78);
}

.closeBtn:hover > .closeIcon {
  color: whitesmoke;
}
/* Hero Section*/
.slider-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 120vw;
  height: 100vh;
  position: absolute;
  bottom: -80%;
  left: -30%;
  overflow: hidden;
}
.carousel-caption {
  bottom: 25%;
}
.carousel-item {
  height: 88vh;
}
.carousel-item > img {
  height: 100%;
  object-fit: cover;
}

/* Team Section */
.team-card {
  transition: transform 200ms ease-in-out;
}
.team-card:hover {
  transform: scale(1.1);
}

.team-bg {
  background-color: rgb(0, 8, 70);
}

/*Register Section */
.register-card {
  transition: transform 200ms ease-in-out;
}

.register-card:hover {
  border-bottom: 6px solid rgb(0, 8, 70);
  transform: scale(1.05);
}

.register-card:hover > .card-icon {
  background-color: rgb(0, 8, 70);
}

.register-card:hover .react-icons {
  color: white;
}

.card-icon {
  height: 8em;
  width: 8em;
  border-radius: 50%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;

  transition: background-color 200ms ease-in-out;
}
.react-icons {
  width: 5em;
  height: 5em;
  vertical-align: middle;
  color: rgb(0, 8, 70);
  transition: color 200ms ease-in-out;
}

/* Accordion Faq */
.accordion-item {
  border: unset;
  padding: 0.5rem 0;
}
.accordion-button {
  color: white;
  font-weight: bold;
  background-color: rgb(0, 8, 70);
  border-radius: 0.5rem;
}
.accordion-button:not(.collapsed) {
  color: white;
  font-weight: bold;
  background-color: rgb(0, 8, 70);
}

.accordion-button::after {
  filter: brightness(0) invert(1);
}

/*Testimoni */
.slick-slide {
  border: 0.2rem solid white;
}

.slick-slide img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.slick-prev:before,
.slick-next:before {
  color: #282c34 !important;
}
@media screen and (min-width: 768px) {
  .slick-next {
    right: -2.5rem !important;
  }
  .slick-prev {
    left: -2.5rem !important;
  }
}

@media only screen and (max-width: 480px) {
  .slick-slide img {
    height: 600px;
    object-fit: fill;
  }
}
/*Footer*/
.hr {
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0.1);
}

.footer-icons {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  color: rgb(158, 160, 166);
  transition: color 200ms ease-in-out;
}

.footer-icons:hover {
  color: whitesmoke;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
